.profile {
  flex: 0.435 1;
  background-color: white;
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
}

.feed {
  flex: 0.4;
  margin-top: 3rem;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
}

.formdiv {
  width: 503px;
  height: 204px;
  margin-left: 70px;
}

.fixedTop {
  display: flex;
  align-items: center;
  position: sticky;
  height: 53px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-color: rgb(230, 236, 240);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: white;
  position: fixed;
  width: 39.5%;
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
}

.backArrowDiv {
  display: flex;
  align-items: center;
  min-height: 30px;
  min-width: 59px;
  color: rgba(29, 161, 242, 1);
}

.pinIcon {
  bottom: 0px;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 5%;
}

.twitterIconDiv {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.imgHeading {
  border-radius: 50px;
  width: 100%;
}

.dateDiv {
  display: flex;
}

.activityDiv {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(230, 236, 240);
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.numbers {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  overflow-wrap: break-word;
  min-width: 0px;
  line-height: 1.3125;
  font-weight: 700;
}

.retweets,
.quotes,
.likes {
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
}

.retweets,
.quotes {
  margin-right: 20px;
}

.iconsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #e6ecf0;
  border-bottom-color: #e6ecf0;
  /* height: 49px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.headingText {
  line-height: 1.3125;
  font-size: 23px;
  margin: 0;
  font-weight: 500;
}

.profileName {
  margin: 0;
}

.commentFeed {
  margin-top: 0 !important;
}

.mentionedProfile {
  color: #657786;
}

.feedImg {
  border-radius: 15px;
  width: 100%;
}

.dateDiv {
  color: #657786;
}

.thread {
  font-weight: 800;
  line-height: 1.3125;
}

.subHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.emoticonMentionDiv {
  display: flex;
  align-items: center;
  line-height: 1.3125;
  font-size: 23px;
}

.popupBox {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 1; */
  top: 0;
  left: 0;
}

.profileContent {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.popUpdate {
  color: rgb(101, 119, 134);
  font-size: 15px;
}

.point {
  margin: 0;
}

.inputBox,
.inputBox:focus {
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 20px;
}

.popupAuthorDiv {
  display: flex;
  align-items: baseline;
}

.closeBtnDiv {
  border-bottom-color: rgb(204, 214, 221);
  height: 53px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
}

.closeBtnInnerDiv {
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.popupProfileImgDiv {
  width: 12%;
}

.popupProfileImg {
  border-radius: 50px;
  width: 75%;
}

.popUpText {
  margin: 0;
}

.popUpTextH {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.popupDiv {
  width: 580px;
  height: 370px;
  border-radius: 15px;
  background: white;
  /* padding: 10px; */
}

.closeBtn {
  font-weight: bold;
  line-height: 1;
  color: rgba(29, 161, 242, 1);
  max-width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 20px;
}

.replytoText {
  margin: 0;
  color: rgb(27, 149, 224);
}

.emoticonDiv {
  width: 5%;
  margin-right: 5px;
}

.numberTexts {
  color: #657786;
}

.activityIconDiv svg:hover {
  color: rgba(29, 161, 242, 1);
  transition-property: background-color, box-shadow;
}
.formOuterDiv {
  margin-top: 1rem;
}
.activityIcons svg:hover {
  color: rgba(29, 161, 242, 1);
  transition-property: color;
}

.activityIconDiv {
  width: 4%;
}

.activityIcons {
  width: 100%;
}
.replyBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 161, 242);
  min-width: calc(62.79px);
  margin-left: 10px;
  min-height: 39px;
  outline-style: none;
  padding-left: 1em;
  padding-right: 1em;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  opacity: 0.5;
  border-style: solid;
  border-radius: 9999px;
}
.replyBtn:hover {
  opacity: 1;
}
